@model AdminConsole.Models.DesktopType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DesktopType</legend>

    <div class="display-label">DesktopCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesktopCode)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">ExtendedProperty</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExtendedProperty)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
